@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-height: 100dvh;
}

::selection {
  background: rgba(128, 128, 128, 0.25);
}
